@use "./variables.scss" as *;
@use "./animations.scss";

body {
  margin: 0;
  background: radial-gradient(circle, #062437, #03131f);
  color: $text;
  font-family: Arial, sans-serif;
  overflow: hidden;
}