.bar {
  height: 100%;

  background:
    rgba(4, 22, 38, 0.82);

  border-radius: 26px;

  border:
    1px solid rgba(0,217,255,.18);

  box-shadow:
    0 0 30px rgba(0,217,255,.12),
    inset 0 0 20px rgba(0,217,255,.04);

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size:
    clamp(18px, 2vw, 36px);

  color: #59dfff;

  font-weight: 700;
}