.arena {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 2px solid rgba(0,217,255,.12);
}

.fish {
  width: 700px;
  z-index: 2;
}

.clickText {
  font-size: 80px;
  color: #7be4ff;
}